body{
	margin: 20px;
	
}
header{
	background-image: url(./images/pizza.png);
	height: 150px;
}
.title{
	padding: 3px;
}
.slogan{
text-align: center; 

}
h1{
	text-align: center;
}
input[type=text]{
  width: 70%;
  padding: 9px 20px;
  margin: 5px 0;
  border: 3px solid #cccf;
  border-radius: 4px;
  box-sizing: border-box;

}

textarea  {
  width: 60%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  text-align: center;

}


label{
	color: rgb(233,100,215);
	font-size: 20px;
	font-weight: bold;
}
.infos{
	width: 75%;
	margin-left: 125px;
	align-content: center;
	padding-bottom: 4px;
	border-color: red;
	padding: 20px;
}
.users{
	background: lightyellow;
}
aside{
	float: right;
	top: 20px;
}
aside img{
	bottom: 30px;
}
img{
	padding-top: 20px;
	padding-right: 20px;
}
.legend1{
	font-style: italic;
	font-size: 22px;
	font-family: Veranda;
	font-weight: bold;
	background: white;

}
.subform_1{
	background-image: url(./images/imagepizza.jpg);
	padding: 15px;
	width: 85%;
	margin-left: 75px;
}
.design_pizza{
	width: 75%;
	margin-left: 125px;
	align-content: center;
	border-color: red;
	margin-top: 2px;

}
.pizza{
	font-style: italic;
	font-size: 22px;
	font-family: Veranda;
	font-weight: bold;
	background: white;
	padding-bottom: 3px;

}
.number{
	background:lightyellow;
}
.typeP, strong{
	font-style: italic;
	font-size: 20px;
	font-family: Veranda;
	font-weight: bold;
	background: white;

}
em{
	color: gray;
	font-weight: bold;
}
.choose,.recipies{
	background: lightyellow;
	margin: 3px;
}
.button{
	text-align: center;
	padding: 5px;
}
.heading{
	margin-bottom: 4px;
	margin-top: 5px;
	color: yellow;
	font-weight: bold;

}